node_modules/
dist/
build/
release/
electron/*.js
electron/*.js.map
!electron/dev-runner.js
playwright-report/
test-results/
__pycache__/
*.pyc
*.tsbuildinfo
.venv/
*.egg-info/
temp/
数据
resources
.env

.dsh/
.DS_Store
